<div class="title title-block">
    <i class="fa fa-square"></i>&nbsp;&nbsp;Sport Profile
    <button class="button black" data-toggle="modal" data-target="#sportModal" data-add-new-shipping="">+ Add new</button>
</div>
<div class="approval">
    <div class="info-user clearfix">
        <div class="pull-left">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="trigger collapsed">
                            Collapsible Group Item #1
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae dolorum, soluta temporibus vero perferendis quo odit eaque cum fugiat nihil earum error vitae libero nostrum sed ipsam, beatae ea.
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button class="button white" data-toggle="modal" data-target="#confirm-delete-profile" data-url=""><span class="ico-close"></span>Edit</button>
            <button class="button white" data-toggle="modal" data-target="#confirm-delete-profile" data-url=""><span class="ico-close"></span>Delete</button>
        </div>
    </div>
    <div class="info-user clearfix">
        <div class="pull-left">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="trigger collapsed">
                            Collapsible Group Item #1
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestiae dolorum, soluta temporibus vero perferendis quo odit eaque cum fugiat nihil earum error vitae libero nostrum sed ipsam, beatae ea.
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button class="button white" data-toggle="modal" data-target="#confirm-delete-profile" data-url=""><span class="ico-close"></span>Edit</button>
            <button class="button white" data-toggle="modal" data-target="#confirm-delete-profile" data-url=""><span class="ico-close"></span>Delete</button>
        </div>
    </div>
</div>
<div class="about">
    <h3><i class="fa fa-square"></i> About Me</h3>
    <p>Dramatically facilitate proactive solutions whereas professional intellectual capital. Holisticly utilize competitive e-markets through intermandated meta-services. Objectively.</p>
    <p>Monotonectally foster future-proof infomediaries before principle-centered interfaces. Assertively recaptiualize cutting-edge web services rather than emerging "outside the box" thinking. Phosfluorescently cultivate resource maximizing technologies and user-centric convergence. Completely underwhelm cross functional innovation vis-a-vis.</p>
</div>
