<!-- SETTINGS TAB CONTENT -->
<div class="tab-pane settings" id="settings-tab">
    <form class="form-horizontal" role="form">
        <fieldset>
            <h3><i class="fa fa-square"></i> Change Password</h3>
            <div class="form-group form-password-oldpassword">
                <label for="old-password" class="col-sm-3 control-label">Old Password</label>
                <div class="col-sm-4">
                    <input type="password" id="oldpassword" name="old-password" class="form-control">
                    <div class="clearfix" id="oldpasswordError"></div>
                </div>
            </div>
            <hr>
            <div class="form-group form-password-newpassword">
                <label for="password" class="col-sm-3 control-label">New Password</label>
                <div class="col-sm-4">
                    <input type="password" id="password" name="password" class="form-control">
                    <div class="clearfix" id="newpassError"></div>
                </div>
            </div>
            <div class="form-group form-password-confirmpw">
                <label for="password2" class="col-sm-3 control-label">Repeat Password</label>
                <div class="col-sm-4">
                    <input type="password" id="password2" name="password2" class="form-control">
                    <div class="clearfix" id="password2Error"></div>
                </div>
            </div>
        </fieldset>
        <h3><i class="fa fa-square"> </i>Notifications</h3>
        <fieldset>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="colored-blue" checked="checked">
                    <span class="text">Receive message from administrator</span>
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" class="colored-blue" checked="checked">
                    <span class="text">New product has been added</span>
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" class="colored-blue" checked="checked">
                    <span class="text">Product review has been approved</span>
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" class="colored-blue" checked="checked">
                    <span class="text">Others liked your post</span>
                </label>
            </div>
        </fieldset>
    </form>
    <p class="text-center"><a href="#" class="btn btn-custom-primary" data-url="@Url.Action("ChangePassword","Home")" id="changepassword"><i class="fa fa-floppy-o"></i> Save Changes</a></p>
</div>