select.form-control:not([size]):not([multiple]) {
    height: auto!important;
  }

.form-engineer .eng-background .pretty
{
 line-height: 13px;
}

.pretty
{
 line-height: 13px;
}

@media only screen and (max-width: 600px)
{
.form-engineer .eng-background .pretty
  {
  line-height: 10px;
  }

  .pretty
  {
  line-height: 12px;
  }
}